* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.w-4 {
  width: 25%;
}

.text-center{
  text-align: center;
}

.py{
  padding: 60px 0;
}

body{
  font-family: cursive;
}

/* section-card */
.section-card-title h2{
  margin-bottom: 50px;
}

.section-card-title h2::first-letter{
 font-size: 32px;
 color: rgb(0, 123, 255);
}

.card-item{
  background-color: skyblue;
  padding: 12px;
  border-radius:5px ;
  margin: 12px;
  box-shadow: 2px 2px 5px 1px rgba(128, 128, 128, 0.5);
}

h5{
  margin: 4px 0;
  font-weight: 500;
}

.card-item input{
  width: 100%;
  padding: 2px 4px;
  border: none;
  outline: none;
  border-radius: 3px;
  margin: 5px 0;
}

button{
  padding: 0 2px;
  margin-right: 4px;
}